<div class="container-fluid" style="background-color: #fb6f24; position: absolute; width: 100%; height: 150%; text-align: center;">
    
    <div class="container" style="background-color: #5191c1; margin-top: 20px; border-radius: 50px; padding: 20px;">
        <h1>1. Sumas y restas</h1>
        <h1>Seleccioná el resultado correcto de las operaciones</h1>
        
            <h4>{{minuto}} minutos : {{segundo}} segundos</h4>
            <div class="ejercicios">
                <div class="terminos" *ngFor="let item of ejercicios | paginate: { itemsPerPage: 1, currentPage: p }">
                    <div class="suma" *ngIf="item.tipo == true">
                        <h1>{{item.primer_termino}} + {{item.segundo_termino}} = </h1>
                    </div>
                    <div class="suma" *ngIf="item.tipo == false">
                        <h1>{{item.primer_termino}} - {{item.segundo_termino}} = </h1>
                    </div>
                </div>
                <div class="opciones" *ngFor="let op of opciones | paginate: { itemsPerPage: 1, currentPage: p }">
                    <button class="opcion" (click)="guardarEleccion(op.op_1)">{{op.op_1}}</button>
                    <button class="opcion" (click)="guardarEleccion(op.op_2)">{{op.op_2}}</button>
                    <button class="opcion" (click)="guardarEleccion(op.op_3)">{{op.op_3}}</button>
                </div>
            </div><br>
        
        
        <div *ngIf="ejercicios[p-1].respuesta == true">
            <div *ngIf="ejercicios[p-1].correcta == true">
                <h1>Tu elección fue: {{respuestas[p-1]}}</h1>
                <h1>Tu respuesta es correcta!</h1>
            </div>
            <div *ngIf="ejercicios[p-1].correcta == false">
                <h1>Tu elección fue: {{respuestas[p-1]}}</h1>
                <h1>Tu respuesta fue incorrecta</h1>
            </div>    
        </div>
        <div class="confirmar" *ngIf="ejercicios[p-1].respuesta == false">
            <div *ngIf="mensaje == false">
                <h1>Todavía no elegiste un resultado</h1>
            </div>
            <div *ngIf="mensaje == true">
                <h1>Tu elección fue: {{resultado}}</h1>
            </div>
            <div *ngIf="confirmar == true">
                <button class="btn" id="liveAlertBtn" (click)="confirmarEleccion(p)">Confirmar</button>
            </div>  
        </div><br>
        <div class="paginator">
            <pagination-controls (pageChange)="p = $event" (pageChange)="reiniciarResultado()"></pagination-controls>
        </div> 
    </div><br>
    <h1 *ngIf="continuar == false">Completa todas las operaciones para pasar al siguiente ejercicio</h1>
    <button type="submit" class="btn final btn-lg" [routerLink]="['/reconocimiento', alumno_id]" (click)="cargarResultados()" *ngIf="continuar == true">Siguiente</button>
</div>
