
.color1 { color:#fb6f24 };
.color2 { color:#8ca315 };
.color3 { color:#5191c1 };
.color4 { color:#1e6495 };
.color5 { color:#0a4b75 };

.container{
    background-color: blue;
    border-radius: 50px;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.carousel-inner{
    align-items: center;
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
}

p{
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.ejercicios{ 
    padding-left: 30%;
    border-radius: 50px;
    height: 250px;
    display: flex;
    
    background-color: #1e6495;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.opcion{ 
    margin: 10px;
    width: 80px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #fb6f24;
    color: white;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans;
    font-size: x-large;
    /* padding-top: 15px; */
    border: #fc5956;
    font-size: xx-large;
    font-weight: bold;
}

.opcion:hover{
    background-color: #c93e4f;  
}

.paginator{
    text-align: center;
}

.btn{
    border-radius: 50px;
    background-color: #fb6f24;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn:hover{
    background-color: #c93e4f;
}

.final{
    border-radius: 50px;
    background-color: #1e6495;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
.confirmar{
    align-items: center;
    text-align: center;
}

.contenedor-tiempo{
    background-color: #1e6495;
}

h4{
    color: white;
}