<div class="container-fluid" style="background-color: #5191c1; position: absolute; width: 100%; height: 100%;">
    <!-- <form [formGroup]="formulario" (ngSubmit)="ingresar()">
        <div class="mb-3">
            <label class="form-label">Selecciona tu nombre</label>
            <select class="form-select" aria-label="Default select example" formControlName="id">
                <option *ngFor="let i of alumnos" [value]="i.id_paciente">{{i.nombre + " " + i.apellido }}</option>
            </select>
        </div>
        <button type="submit" class="btn" [routerLink]="['/operaciones', this.formulario.value.id]" *ngIf="this.formulario.value.id != 0">Iniciar</button>
    </form> -->


    <div class="table-responsive">
        <div *ngFor="let a of alumno">
            <h1>Paciente: {{a.nombre}} {{a.apellido}}</h1>
        </div><br>
        <h1>Resultados detallados: </h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Ejercicio</th>
                <th scope="col">Operación 1</th>
                <th scope="col">Operación 2</th>
                <th scope="col">Operación 3</th>
                <th scope="col">Operación 4</th>
                <th scope="col">Operación 5</th>
                <th scope="col">Porcentaje</th>
                <th scope="col">Tiempo(segundos)</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr *ngFor="let i of paciente_ejercicio">
                <td>{{i.ejercicio_id}}</td>
                <td>{{i.operacion_1}}</td>
                <td>{{i.operacion_2}}</td>
                <td>{{i.operacion_3}}</td>
                <td>{{i.operacion_4}}</td>
                <td>{{i.operacion_5}}</td>
                <td>{{i.porcentaje}}%</td>
                <td>{{i.tiempo}}</td>     
              </tr> 
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <h1>Resultados totales: </h1>
    </div>
</div>